# Airtable Configuration
AIRTABLE_API_KEY=patPlKVK4bsSNcUY1.6a0bc7165b9eac5ee3050a58ccbeaf1f91517593c9e62a246e70dbae29d679f9
AIRTABLE_BASE_ID=appTp5YgSp9DV2HYc
AIRTABLE_TABLE_NAME=Tito Sunny

# GetYourGuide Configuration
# If left empty, the script will pause for manual login
GYG_EMAIL=
GYG_PASSWORD=
